.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
  padding: 0 16px;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

td.mat-cell {
  text-align: center;
}

.mat-mdc-cell {
  text-align: center;
}
