<div class="dashboard-container">
  <div class="animated-background"></div>
  <!-- First Panel: Driver Deliveries -->
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Entregas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-table
        [data]="driverDeliveries"
        [columns]="driverDeliveriesColumns"
        [displayedColumns]="driverDeliveriesDisplayedColumns">
      </app-table>
    </mat-card-content>
  </mat-card>

  <!-- Second Panel: Unsuccessful Deliveries -->
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Entregas sem Sucesso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-table
        [data]="unsuccessfulDeliveries"
        [columns]="unsuccessfulDeliveriesColumns"
        [displayedColumns]="unsuccessfulDeliveriesDisplayedColumns">
      </app-table>
    </mat-card-content>
  </mat-card>

  <!-- Third Panel: Neighborhood Deliveries -->
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Entregas por Bairro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-table
        [data]="neighborhoodDeliveries"
        [columns]="neighborhoodDeliveriesColumns"
        [displayedColumns]="neighborhoodDeliveriesDisplayedColumns">
      </app-table>
    </mat-card-content>
  </mat-card>
</div>
