/**
 * Estilos Globais da Aplicação
 *
 * Este arquivo contém estilos globais e variáveis CSS para toda a aplicação.
 * Você pode adicionar estilos globais aqui e também importar outros arquivos de estilo.
 */

/* Estilos para html e body */
html,
body {
  height: 100%; /* Garante que o html e o body ocupem 100% da altura da viewport */
}

body {
  margin: 0; /* Remove a margem padrão do body */
  font-family: Roboto, "Helvetica Neue", sans-serif; /* Define a fonte padrão para o body */
}

/* Estilos para cabeçalhos h1 */
h1 {
  font-size: 2.5rem !important; /* Define o tamanho da fonte */
  color: var(--gray-900); /* Define a cor do texto */
  font-weight: 500 !important; /* Define o peso da fonte */
  line-height: 100% !important; /* Define a altura da linha */
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important; /* Define a família de fontes */
}

/* Estilos para parágrafos */
p {
  margin: 0; /* Remove a margem padrão */
  color: var(--gray-700); /* Define a cor do texto */
}

/* Estilo para um divisor */
.divider {
  width: 1px; /* Define a largura */
  background: var(--red-to-pink-to-purple-vertical-gradient); /* Define o gradiente de fundo */
  margin-inline: 0.5rem; /* Define as margens laterais */
}

/* Variáveis CSS globais */
:root {
  --primary-color: #ff3700; /* Cor primária */
  --primary-light: #ff7e00; /* Variação clara da cor primária */
  --primary-dark: #e63200; /* Variação escura da cor primária */
  --accent-color: #ffb700; /* Cor de destaque */
  --text-dark: #333333; /* Cor escura para texto */
  --text-light: #666666; /* Cor clara para texto */
  --background-light: #ffffff; /* Cor de fundo clara */
}

/* Estilos adicionais para o body */
body {
  font-family: 'Roboto', sans-serif; /* Define a fonte padrão */
}


/* Estilos adicionais para parágrafos */
p {
  color: var(--text-light); /* Define a cor do texto para parágrafos */
}
